$primaryColor: #0755AC;
$primaryColorLighter: #146BCC;
$primaryColorVeryLighter: #3F81CB;
$primaryColorDarker: #054388;
$primaryColorVeryDarker: #033369;

$secondaryColor: #FF5900;
$secondaryColorLighter: #ff5d06;
$secondaryColorVeryLighter: #FF8341;
$secondaryColorDarker: #D04900;
$secondaryColorVeryDarker: #A03800;

$tertiaryColor: #FFC600;
$tertiaryColorLighter: #FFC706;
$tertiaryColorVeryLighter: #FFD441;
$tertiaryColorDarker: #D0A100;
$tertiaryColorVeryDarker: #A07C00;
