@import '../../../theme';

.question {
  &__label {
    font-size: 5rem;
  }

  &__input input {
    border: 0;
    border-bottom: 1px solid;
    outline: 0;
    width: 3rem;
    margin: 0 .2rem
  }

  .timer {
    &--warning-level-1 {
      color: $primaryColor;
      animation: opacity 1s ease infinite;
    }

    &--warning-level-2 {
      color: $tertiaryColorDarker;
    }

    &--warning-level-3 {
      color: $tertiaryColor;
      animation: zoom 1s ease infinite;
    }
  }
}

@keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes zoom {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(5, 5, 5);
  }
}
